<div class='col-lg-12 navbar navbar-default navbar-static-top'>
  <a href='/' class='navbar-brand'>Robot World</a>
</div>

<a href="/robots">Robots Index</a>

<h1><%= @robot.name %></h1>

<p>city:<%= @robot.city %></p>
<p>state:<%= @robot.state %></p>
<img src=<%= @robot.avatar %> >
<p>birthdate:<%= @robot.birthdate %></p>
<p>date_hired:<%= @robot.date_hired %></p>
<p>department:<%= @robot.department %></p>
